@font-face {
    font-family: 'futur';
    src: url(assets/fonts/futura/Futura\ Heavy\ font.ttf);
}

@font-face {
    font-family: 'futur-book';
    src: url(assets/fonts/futura/Futura\ Book\ font.ttf);
}

@font-face {
    font-family: 'nasalation';
    src: url(assets/fonts/nasalization/nasalization-rg.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn-mobile{
    display: none;
}

:root{


    --font-principal:'futur';
    --font-principal-book: 'futur-book';
    --font-secundaria:'nasalation';

    --cor-background: #0D0F12;
    --cor-secundaria: #E76003;
    --cor-primaria: #D9D7CA;
}

#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    background-color: var(--cor-background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
    justify-content: space-between;
    
}

#header.transparent{
    background-color: transparent;
    border-bottom: 1px solid #d9d7ca25;
    
}

#menu{
    color: var(--cor-primaria);
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
    border-radius: 50px;
    padding: 7px;
}

 #menu a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 50px;
    justify-content: center;
    transition: background-color 0.6s ease;
    font-family: var(--font-principal-book);
   
  }

#menu a:hover{
    background-color: #E76003;
     border-radius: 50px;
     padding: 8px;
    
}

#logotipo{
    max-width: 110px;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; 
  }
  

  ::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    border-radius: 8px; 
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: var(--cor-background); 
  }
  
 
  ::-webkit-scrollbar-corner {
    background-color: var(--cor-background); 
  }

  .transparent-blur {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid transparent; 
}

.solid {
    background-color: var(--cor-azul2);
    backdrop-filter: blur(20px);
    border-bottom: 2px solid #0D0F12;
}

    
body{
    background-color: #131314;
}

main{
    background-color: var(--cor-primaria);
}

.container {
    position: relative;
    background-color: var(--cor-background);
}

.container h1,
.container h2,
.container h3 {
    position: absolute;
    margin: 0;
    font-family: var(--font-principal);
    font-weight: bold;
}

.container h1 {
    color: var(--cor-primaria);
    font-size: 10vw; /* Use viewport width unit for responsive font size */
    top: 16%;
    left: 20%;
    transform: translateX(-50%);
}

.container h2 {
    color: var(--cor-primaria);
    font-size: 10vw; /* Use viewport width unit for responsive font size */
    top: 36%;
    left: 26%;
    transform: translateX(-50%);
}

.container h3 {
    color: var(--cor-secundaria);
    font-size: 5vw; /* Use viewport width unit for responsive font size */
    top: 31%;
    left: 10%;
    transform: translateX(-50%);
}

#bannerPC {
    display: flex;
    max-width: 100%;
    opacity: 60%;
   
}

#bannerMobile{
    display: none;
}

#maincontent{
    display: block;
   justify-content: center;
   padding: 5rem;
   margin: auto;
   font-family: var(--font-secundaria);
   
}

#maincontent h1{
    color: var(--cor-secundaria);
    text-align: center;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 30px;
}

#maincontent p{
    color: var(--cor-background);
    text-align: center;
    justify-content: center;
    font-size: 27px;
    
}

.cards{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
    width: 100%;
    background-color: var(--cor-primaria);
   
   
}

.cards div{

    max-width: 300px;
    box-shadow:
    1.9px 22.4px 15.8px rgba(0, 0, 0, 0.13),
    15px 179px 126px rgba(0, 0, 0, 0.19);
    
}





.cards img{

    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    

}

.cards h1{
    text-align: left;
    font-size: 21px;
    font-family: var(--font-principal-book);
    padding: 13px;
    padding-bottom: 0;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.cards p {
    text-align: left;
    font-size: 14px;
    font-family: var(--font-principal-book);
    padding: 9px;
    color: #131314;
}

.cards a{
    text-decoration: none;
    display: flex;
    padding: 13px;
    color: var(--cor-background);
    font-family: var(--font-principal-book);
    font-weight: bold;
    font-size: 14px;
    transition: 0.5s;
}

.cards a:hover{
    color: #e75e039f;
    transition: 0.5s;
}

.sobreservicos {
    position: relative;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: var(--cor-background);
    font-family: var(--font-principal-book);
    padding: 50px;
}

.sobreservicos h1{
    font-size: 50px;
    color: var(--cor-primaria);
    max-width: 50%;
    margin-bottom: 20px;
    
}

.sobreservicos p{
    font-size: 16px;
    color: var(--cor-primaria);
    text-align: left;
     max-width: 50%;
     margin-bottom: 43px;
     
    
}

.sobreservicos h3{
    font-size: 24px;
    color: var(--cor-secundaria);
     max-width: 50%;
     margin-left: 10px;
    transition: color 0.5s;
    cursor: pointer;
}

.sobreservicos h3:hover{
    transition: 0.5s;
    color: #e75e0388;
}


.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
  right: 18%;
  
}

.loader:before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 12px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #E76003;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2;
  }

  100% {
    box-shadow: 0 10px 0 #f2f2f2,
            -35px 50px 0 #f2f2f2,
            -70px 90px 0 #f2f2f2,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}




.projects{
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 10% auto;
  flex-direction: column;
  
 
}



#projectdestaque img{
   width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border-radius: 10px;
    


}


#projectdestaque h1{
    text-align: left;
    font-size: 21px;
    font-family: var(--font-principal-book);
    padding: 13px;
    padding-bottom: 0;
    color: var(--cor-secundaria);
    font-weight: bold;
}

#projectdestaque p{
  text-align: left;
    font-family: var(--font-principal-book);
    padding: 13px;
    font-size: 16px;
    padding-bottom: 0;
    color: var(--cor-primaria);
    font-weight: bold;
  
}

#outhersprojects {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  gap: 20px;
  max-width: 100%;
  margin: 10% auto;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

#outhersprojects > div {
  flex: 1 1 40%; 
}


#outhersprojects > div::before {
  content: '';
  flex-grow: 1;
  min-width: 40px; /* Ajuste o tamanho do espaçamento conforme necessário */
}

#outhersprojects img{
  max-width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}



#outhersprojects h1{
  color: var(--cor-secundaria);
  font-family: var(--font-principal-book);
  font-size: 21px;
}

#outhersprojects p{
  color: var(--cor-primaria);
  font-family: var(--font-principal-book);
  font-size: 21;
  }

  


section {
  
  left: 0;
  bottom: 12px;
  width: 100%;
  background: var(--cor-background);
  padding-top: 60px;
  font-family: var(--font-principal-book);
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
}

@media (width < 600px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

footer > img {
  margin-top: 10px;
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer {
  color: #c2bfac;
}

footer > img {
    margin-top: 10px;
    margin-left: 25px;
}

footer.top {
  border-bottom: 2px solid #E76003;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (width <= 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  

  footer.bottom {
    align-items: center;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

.links img{
  width: 25px;
  opacity: 70%;
}