@font-face {
    font-family: 'futura-light';
    src: url(../fonts/futura/futura\ light\ bt.ttf)
}

:root {
    --futuraL: 'futura-light'; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--futuraL);
}


#emdev{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 10rem;
}

body{
    background-color: #0D0F12;
}

body::-webkit-scrollbar {
    width: 12px; 
}

body::-webkit-scrollbar-thumb {
    background-color: #ee600e; /* Cor da parte deslizante da barra de rolagem */
    border-radius: 6px; 
}

body::-webkit-scrollbar-track {
    background-color: #0D0F12; 
}


header {
    background-color: #0D0F12;
    font-family: var(--futuraL);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header.transparent {
    background-color: rgba(13, 15, 18, 0.733); /* Ajuste a cor de fundo e a transparência conforme necessário */
}


 
/*NAV-BAR PC*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 6px 6rem; /* Ajuste a altura aqui */
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color:  #eeecdc;
    font-weight: 400;
}

.nav-link:hover{
    color: #D96725;
}

.mobile-menu-icon{
    display: none;
    
}

.mobile-menu{
    display: none;
}


.cards-projetos{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding-top: 10%;
    
}

.projeto-destaque {
    position: relative;
    overflow: hidden;
    width: 71%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 56px; /* Ajuste a distância superior conforme necessário */
    margin-left: 15%; /* Ajuste a distância à esquerda conforme necessário */
}

  
  .projeto-destaque img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .projeto-destaque:hover img {
    transform: scale(1.1);
    filter: blur(3px);
  }
  
  .projeto-destaque a {
    position: relative;
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }
  
  .saiba-mais-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px; /* ajuste o tamanho da fonte conforme necessário */
    background-color: #ee600e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .projeto-destaque:hover .saiba-mais-btn {
    opacity: 1;
  }

.project-card {
    position: relative;
    overflow: hidden;
    width: 310px; 
    height: 294px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px; /* adicione margens conforme necessário */
  }
  
  .project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover img {
    transform: scale(1.1);
    filter: blur(3px); /* Adiciona um desfoque à imagem ao passar o mouse */
  }


  
  .saiba-mais-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 16px;
    font-size: 14px; /* ajuste o tamanho da fonte conforme necessário */
    background-color: #ee600e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project-card:hover .saiba-mais-btn {
    opacity: 1;
  }
  

 .subtitle{
    background-color: transparent;
 }
 
 .subtitle h2 {
    color: #ffffff;
    font-size: 86px;
    text-align: center;
    padding: 9%;
}


 a{
    text-decoration: none;
 }
    footer {
        background-color: #0D0F12;
        color: #fff;
        padding: 30px 0;
        text-align: center;
    }
    
    .footer-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .footer-section {
        max-width: 300px;
    }
    
    .footer-section h2 {
        color: #D96725;
        margin-bottom: 10px;
    }
    
    .footer-section p {
        font-size: 13px;
        line-height: 1.5;
        text-transform: uppercase;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-section a {
        color: #fff;
        text-decoration: none;
        
    }
    
    .footer-bottom {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #D96725;
    }
    
    .footer-bottom p {
        font-size: 11px;
    }
    
    #devsession{
        text-decoration: none;
        color: #D96725;
        
    }

    #logoinsta{
        width: 29px;
        
    }
    
    #logowhats{
        width: 29px;
        
    }
    
    #logotiktok{
        width: 29px;
        
    }
    
    #logoemail{
        width: 29px;
        
    }

    #destaque-mobile{
        display: none;
    }
    

@media screen and (max-width: 730px){

   #destaque-mobile{
    display: block;
   }

   .redes-sociais{
    padding-top: 10px;
   }
   
    .projeto-destaque{
        display: none;
    }

    .top-content{
        display: none;
    }


    .nav-bar{
        padding: 1.5rem 1rem;
    }

    .nav-item{
        display: none;
    }

    .nav-link{
        text-decoration: none;
        font-size: 31px;
        color: white;
        font-weight: 400;
    }

    .nav-link:hover{
        color: #D96725;
    }

    .mobile-menu-icon{
        display: inline-block;
        
    }

    .icon{
        width: 35px;
        padding-left: 10px;
        padding-top: 13px;
    }

    #logoimg{
        width: 70%;
        padding-top: 10px;
    }
    
    
    
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        padding-right: 23px;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .open{
        display: block;
    }
}

