@font-face {
    font-family: 'futur';
    src: url(/assets/fonts/futura/futur.ttf);
}

@font-face {
    font-family: 'futur-book';
    src: url(/assets/fonts/futura/Futura\ Book\ font.ttf);
}

@font-face {
    font-family: 'nasalation';
    src: url(/assets/fonts/nasalization/nasalization-rg.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-background);
}

#btn-mobile{
    display: none;
}

:root{


    --font-principal:'futur';
    --font-principal-book: 'futur-book';
    --font-secundaria:'nasalation';

    --cor-background: #0D0F12;
    --cor-secundaria: #E76003;
    --cor-primaria: #D9D7CA;
}

#header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    background-color: var(--cor-background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
    justify-content: space-between;
    
}

#header.transparent{
    background-color: transparent;
    border-bottom: 1px solid #d9d7ca25;
    
}

#menu{
    color: var(--cor-primaria);
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
    border-radius: 50px;
    padding: 7px;
}

 #menu a{
    color: var(--cor-primaria);
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 50px;
    justify-content: center;
    transition: background-color 0.6s ease;
    font-family: var(--font-principal-book);
   
  }

#menu a:hover{
    background-color: #E76003;
     border-radius: 50px;
     padding: 8px;
    
}

#logotipo{
    max-width: 110px;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; 
  }
  

  ::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    border-radius: 8px; 
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: var(--cor-background); 
  }
  
 
  ::-webkit-scrollbar-corner {
    background-color: var(--cor-background); 
  }

  .transparent-blur {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid transparent; 
}

.solid {
    background-color: var(--cor-azul2);
    backdrop-filter: blur(20px);
    border-bottom: 2px solid #0D0F12;
}

.container {
    position: relative;
    background-color: var(--cor-background);
}

.text-container {
    position: absolute;
    top: 53%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-align: left;
    padding: 70px;
    padding-left: 10px;
}

.text-container h1, p{
    color: var(--cor-primaria);
    font-family: var(--font-principal-book);

}

.text-container h1{
    margin-bottom: 20px;
    font-size: 51px;
}

.text-container p{
    font-size: 16px;
}

#bannerPC {
    display: flex;
    max-width: 100%;
    opacity: 60%;
   
}

#bannerMobile{
    display: none;
}

#maincontent{
    display: block;
   justify-content: center;
   padding: 5rem;
   margin: auto;
   font-family: var(--font-secundaria);
   
}

#maincontent h1{
    color: var(--cor-secundaria);
    text-align: center;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 30px;
}

#maincontent p{
    color: var(--cor-background);
    text-align: center;
    justify-content: center;
    font-size: 27px;
    
}


.mobilecontent{
    display: none;
}


.content-article{
    background-color: var(--cor-primaria);
    font-family: var(--font-principal-book);
    padding: 60px;
}

#diferenciais p{

    color: #0d0f1293;
    font-size: 28px;
}

#diferenciais h5{
    color: var(--cor-secundaria);
    font-size: 18px;
    margin-bottom: 30px;
}

.cards {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: auto;
    width: 100%;
    background-color: var(--cor-primaria);
    flex-wrap: wrap; /* Allow items to wrap to the next row */

}


.cards {
    opacity: 0; /* Start with 0 opacity */
    transform: translateY(-20px); /* Start with a translateY to hide the cards initially */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Add transitions for transform and opacity */
}

.cards.show {
    transform: translateY(0); /* Move the cards to their original position on show */
    opacity: 1; /* Set opacity to 1 when the 'show' class is added */
}



.card {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}

.card:hover {
    transform: scale(1.05); /* Aplica um leve zoom ao passar o mouse */
}


.cards div{

    max-width: 300px;
    box-shadow:
    1.9px 22.4px 15.8px rgba(0, 0, 0, 0.13),
    15px 179px 126px rgba(0, 0, 0, 0.19);
    
}





.cards img{

    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    

}

.cards h1{
    text-align: left;
    font-size: 21px;
    font-family: var(--font-principal-book);
    padding: 13px;
    padding-bottom: 0;
    color: var(--cor-secundaria);
    font-weight: bold;
}

.cards p {
    text-align: left;
    font-size: 14px;
    font-family: var(--font-principal-book);
    padding: 9px;
    color: #131314;
}

.cards a{
    text-decoration: none;
    display: flex;
    padding: 13px;
    color: var(--cor-background);
    font-family: var(--font-principal-book);
    font-weight: bold;
    font-size: 14px;
    transition: 0.5s;
}

.cards a:hover{
    color: #e75e039f;
    transition: 0.5s;
}

section {
  
  left: 0;
  bottom: 12px;
  width: 100%;
  background: var(--cor-background);
  padding-top: 60px;
  font-family: var(--font-principal-book);
}

footer {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 0 30px;
}

footer a{
  text-decoration: none;
  color: #c2bfac;
}


@media (width < 600px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

footer > img {
  margin-top: 10px;
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer {
  color: #c2bfac;
}

footer > img {
    margin-top: 10px;
    margin-left: 25px;
}

footer.top {
  border-bottom: 2px solid #E76003;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.links > div {
  display: grid;
  gap: 10px;
  margin-bottom: 30px;
}

footer h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #f7f7f7;
}

.legal {
  font-size: 12px;
}

.legal > a {
  margin: 0 4px;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (width <= 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  

  footer.bottom {
    align-items: center;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

.links img{
  width: 25px;
  opacity: 70%;
}

.btn-whatsapp a {

 color:#fff; 
 text-decoration:none; 
 display:block; 
}

.btn-whatsapp {
    position: fixed;
    right: 0;
    bottom: 30px;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 211, 102);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: 100;
    border-radius: 50%;
}
.btn-whatsapp:before,
.btn-whatsapp:after

{

 content: '';
    display:block;
    position: absolute;
    border-radius:50%;
    border:1px solid #25d366;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    animation: animate 1.5s linear infinite;
    opacity:0;
    backface-visibility:hidden;    
}

.pulsaDelay:after { animation-delay: .5s; }

@keyframes animate {


   0%   { transform: scale(0.5); opacity:0; }
   50%  { opacity:1; }
   100% { transform: scale(1.2); opacity:0; }

}